<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Create Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Create a New Page</h1>
        <div class="forms-container">
            <form id="create-page-form" method="POST" action="{{ url_for('page.create_page_submit') }}">
                {{ page_create_form.hidden_tag() }}
                <div class="form-group">
                    <label for="encrypted_title">Page Title:</label>
                    <input type="text" id="encrypted_title" name="encrypted_title" placeholder="Enter page title" onkeydown="cancelEnter(event)" required>
                </div>
                <div class="form-group">
                    <label for="encrypted_description">Page Description:</label>
                    <textarea id="encrypted_description" name="encrypted_description" rows="4" placeholder="Enter page description" required></textarea>
                </div>
                <div class="form-group">
                    <label for="add_user_list">Currently Invited Users:</label>
                    <div class="scrollable-container">
                        <ul id="add_user_list" class="scrollable-list"></ul>
                    </div>
                </div>
                <div class="form-buttons">
                    <button type="button" onclick="createPage()">Create Page</button>
                    <button type="button" class="btn btn-secondary" onclick="window.location.href='{{ url_for('page.pages') }}'">Cancel</button>
                </div>
            </form>
            <div class="add-user-forms">
                <form id="add-user-form">
                    {{ add_user_form.hidden_tag() }}
                    <div class="form-group">
                        <label>Invite Username</label>
                        {{ add_user_form.new_user(placeholder="Invite user", autocomplete="new-user", onkeydown="cancelEnter(event)") }}
                    </div>
                    <button type="button" onclick="addUser()">Submit</button>
                </form>
                <form id="remove-user-form">
                    {{ remove_user_form.hidden_tag() }}
                    <div class="form-group">
                        <label>Remove Invited Username</label>
                        {{ remove_user_form.remove_user(placeholder="Remove Invited user", autocomplete="remove-user", onkeydown="cancelEnter(event)") }}
                    </div>
                    <button type="button" onclick="removeUser()">Submit</button>
                </form>
            </div>
        </div>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
    </div>
    <footer>
        <p style="text-align:center; margin-top: 20px;">&copy; 2024 Ethan Andrews. All rights reserved.</p>
    </footer>
    <script src="{{ url_for('static', filename='js/security.js') }}"></script>
    <script src="{{ url_for('static', filename='js/create-page.js') }}"></script>
    <script src="{{ url_for('static', filename='js/form-funcs.js') }}"></script>
</body>
</html>
