<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Dashboard - Messaging Board App</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="container">
        <h1>Dashboard</h1>
        <nav>
            <ul class="no-bullets">
                <li><a href="/pages">Pages</a></li>
                <li><a href="/create-page">Create Page</a></li>
                <li><a href="/profile">Profile</a></li>
            </ul>
            <form action="{{ url_for('account.logout') }}" method="post">
                <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                <button type="submit" class="btn btn-outline-secondary ml-2">Logout</button>
            </form>
        </nav>
    </div>
    <main>
        <section>
            <h2>Welcome to your Dashboard</h2>
            <p>Use the navigation menu to access different parts of the application.</p>
        </section>
    </main>
</body>
</html>