<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>E2EE Application - Login</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
</head>
<body>
    <div class="login-container">
        <h1>Login to Your E2EE Application</h1>
        <form method="POST" id="submit_form">
            {{ form.hidden_tag() }}
            <p>{{ form.email.label }} {{ form.email(placeholder="Enter Email") }}</p>
            <label for="password">Password</label>
            <input type="password" id="password" name="password">
        </form>
        {% with messages = get_flashed_messages(with_categories=true) %}
            {% if messages %}
                {% for category, message in messages %}
                    <div class="alert alert-{{ category }}">
                        {{ message }}
                    </div>
                {% endfor %}
            {% endif %}
        {% endwith %}
        <button type="button" onclick="login_user()">Login</button>
        <button type="button" onclick="window.location.href='/'">Cancel</button>
    </div>
    <script src="{{ url_for('static', filename='js/security.js') }}"></script>
    <script src="{{ url_for('static', filename='js/login.js') }}"></script>
</body>
</html>