<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Page</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/styles.css') }}">
    <link href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
</head>
<body>
    <div class="container-fluid">
        <nav class="navbar navbar-expand-lg navbar-light bg-light">
            <a class="navbar-brand">Messaging Board</a>
            <div class="ml-auto">
                <span class="navbar-text">Welcome, {{ current_user.username }}</span>
                <form action="{{ url_for('account.logout') }}" method="post">
                    <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
                    <button type="submit" class="btn btn-outline-secondary ml-2">Logout</button>
                </form>
            </div>
        </nav>

        <div class="row">
            <nav class="col-md-2 d-none d-md-block bg-light sidebar full-container">
                <div class="sidebar-sticky">
                    <ul class="nav flex-column">
                        <li class="nav-item">
                            <a class="nav-link active" href="{{ url_for('page.pages') }}">Home</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="{{ url_for('page.page_invites') }}">Page Invites</a>
                        </li>
                    </ul>
                </div>
            </nav>
            <main role="main" class="col-md-9 col-lg-10 px-5">
                <div class="container">
                    <div class="row">
                        <div class="left-col col-md-8">
                            <div class="page-header" id="page_header">
                                <h1></h1>
                                <p> </p>
                            </div>
                            {% with messages = get_flashed_messages(with_categories=true) %}
                                {% if messages %}
                                    {% for category, message in messages %}
                                        <div class="alert alert-{{ category }}">
                                            {{ message }}
                                        </div>
                                    {% endfor %}
                                {% endif %}
                            {% endwith %}
                            <div id="posts" class="posts">
                            </div>
                        </div>
                        <div class="right-col col-md-4">
                            <div class="add-post-form">
                                <form id="post-add-form" method="post">
                                    {{ post_add_form.hidden_tag() }}
                                    <div class="form-group">
                                        {{ post_add_form.encrypted_message.label }}
                                        {{ post_add_form.encrypted_message(class_="form-control", onkeydown="cancelEnter(event)") }}
                                    </div>
                                    <button type="button" onclick="addPost()">Submit</button>
                                </form>
                            </div>
                            <br>
                            <div class="add-post-form">
                                <div class="invite-users-form">
                                    <form id="invite-users-form">
                                        {{ add_user_form.hidden_tag() }}
                                        <div class="form-group">
                                            <label>Invite Username</label>
                                            {{ add_user_form.new_user(class_="form-control", placeholder="Invite user", autocomplete="new-user") }}
                                        </div>
                                        <button type="button" onclick="addUser()">Invite</button>
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </main>
        </div>
    </div>
    <form id="delete-post-form">
        <input type="hidden" name="csrf_token" value="{{ csrf_token() }}"/>
    </form>
    <footer>
        <p style="text-align:center; margin-top: 20px;">&copy; 2024 Ethan Andrews. All rights reserved.</p>
    </footer>
    <script>
        let page = "{{ page }}";
        let encrypted_title_string = "{{ page.encrypted_title }}";
        let encrypted_description_string = "{{ page.encrypted_description }}";
        let page_id = "{{page.id}}";
        let username = "{{ current_user.username }}"
    </script>
    <script src="{{ url_for('static', filename='js/form-funcs.js') }}"></script>
    <script src="{{ url_for('static', filename='js/security.js') }}"></script>
    <script src="{{ url_for('static', filename='js/page.js') }}"></script>
</body>
</html>